@import "bootstrap.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 700px;
}
.container > hr {
  margin: 30px 0;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 700px
}

.nav-target {
  padding-top: 40px;
  margin-top: -40px;
  display: inline-block; /* required for webkit browsers */
}
.hero-unit {
  background-image: url(../media/agave.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

@import "responsive.less";
