@import "bootstrap.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 960px;
}
.container > hr {
  margin: 30px 0;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 700px
}

.nav-target {
  padding-top: 40px;
  margin-top: -40px;
  display: inline-block; /* required for webkit browsers */
}
.hero-unit {
  background-image: url(../media/agave_1200x800.jpg);
  background-repeat: no-repeat;
  background-position: left bottom;
}

// responsive iframe from http://stackoverflow.com/questions/12676725/responsive-iframe-google-maps-and-weird-resizing
.iframe-rwd  {
position: relative;
padding-bottom: 65.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}
.iframe-rwd iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

@import "responsive.less";
